<p id="notice"><%= notice %></p>

<fieldset>
  <legend>Game</legend>
  <p>
    <%= label_tag 'date', "Game Time" %>
    <span class="field">
      <%= @game.date %>
    </span>
  </p>
  
  <fieldset>
    <legend>Home Team</legend>
    <p>
      <%= label_tag "home_team_name", "Team Name" %>
      <span class="field">
        <%= @home_team.name %>
      </span>
    </p>

    <p>
      <%= label_tag "players", "Players" %>
      <table class="home-team">
        <tr>
          <th align="left">Name:</th>
          <th align="right">Points:</th>
        </tr>
        
        <% @home_team.players.sort_by {|p| p.fullname}.each do |player| %>
          <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
            <td><%= player.fullname %></td>
            <td align="right"><%= player.points %></td>
          </tr>
        <% end %>
        <tr class="total">
          <td>Total:</td>
          <td align="right"><%= "#{@home_team.players.sum('points')}" %></td>
        </tr>
      </table>
    </p>
  </fieldset>
  
  <fieldset>
    <legend>Away Team</legend>
    <p>
      <%= label_tag "away_team_name", "Team Name" %>
      <span class="field">
        <%= @away_team.name %>
      </span>
    </p>

    <p>
      <%= label_tag "players", "Players" %>
      <table class="away-team">
        <tr>
          <th align="left">Name:</th>
          <th align="right">Points:</th>
        </tr>
        
        <% @away_team.players.sort_by {|p| p.fullname}.each do |player| %>
          <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
            <td><%= player.fullname %></td>
            <td align="right"><%= player.points %></td>
          </tr>
        <% end %>
        <tr class="total">
          <td>Total:</td>
          <td align="right"><%= "#{@away_team.players.sum('points')}" %></td>
        </tr>
      </table>
    </p>
  </fieldset>
</fieldset>

<fieldset>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</fieldset>